@font-face {
    font-family: Outfit;
    src: url(resources/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Outfit, sans-serif;
    background-color: white;
}

.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}

.author-info a {
    text-decoration: none;
}

/* Root */

.root {
    text-align: center;
}

/* Image */

img {
    border-radius: 8px;
    max-width: 95%;
    height: auto;
    margin: 1rem;
}

/* Main */

main {
    text-align: left;
    margin: 0 1rem;
}

.nav {
    font-size: 14px;
    font-weight: 600;
    margin: 1rem 0rem;
}

.nav span {
    font-weight: 300;
    color: #394150;
}

main h1 {
    font-size: 2rem;
    margin: 1rem 0;
}

main p {
    font-size: 1rem;
    line-height: 1.5rem;
}

main h2 {
    font-size: 1rem;
    margin: 1rem 0;
}

ul {
    margin: 1rem 2rem;
}

ul li{
    margin: 1rem 0rem;
}

/* Price Summary */

.price-summary {
    display: flex;
    flex-direction: row;
    background-color: #F3F4F6;
    gap: 2rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
}

.price-summary .content {
    align-self: center;
    margin: 1rem 1.5rem;
}

.price-summary .content h3 {
    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.price-summary .content p {
    font-size: 1rem;
    font-weight: 800;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 1rem 0;
}

.buttons button {
    border-radius: 4px;
    flex: 1 1 0;
    height: 3rem;
    font: inherit;
    font-weight: 600;
}

/* Buttons*/

.buttons .cart {
    color: white;
    border-style: none;
    background-color: #652CD1;
}

.buttons .wishlist {
    border: 1px solid #D2D5DA;
    background-color: white;
}

.heart-icon {
    content: url(resources/heart.svg);
    display: inline;
    translate: 0 3px;
}

@media only screen and (min-width: 700px) {
    /* Root */
    .root {
        display: flex;
        flex-direction: row;
    }

    /* Image */
    img {
        max-width: 50%;
        height: auto;
    }

    /* Main */
    main {
        height: auto;
    }

    main h1 {
        max-width: 85%;
        margin-bottom: 2rem;
    }

    main p {
        margin-bottom: 2rem;
    }

    .nav {
        margin-bottom: 2rem;
    }

    /* Price Summary */
    .price-summary {
        max-width: 70%;
        justify-content: space-evenly;
    }

    .price-summary .content {
        align-self: center;
    }

    .price-summary .content p {
        margin: 0;
    }

    .price-summary .price p{
        font-size: 2rem;
    }

    /* Buttons */
    .buttons {
        max-width: 70%;
    }
}